
.mainmenu-area {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999999;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background-color: #138fc2;
}

.overlay,
.overlay a,
.mainmenu-area a {
    color: #ffffff;
}

.mainmenu-area .logo {
   
    letter-spacing: 2px;
    height: inherit;
    margin-top: 8px;
    padding-left: 0;
    font-family: 'Roboto', sans-serif;

}

.mainmenu-area .logo h2 {
    margin-bottom: 0;
}

.mainmenu-area #primary-menu > ul > li > a {
    background: none;
    padding: 30px 15px;
    position: relative;
    border-top: 3px solid transparent;
    text-align: center;
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
}

.mainmenu-area #primary-menu > ul > li > a:before {
    content: "";
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top: -10px;
    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-top: 10px solid #ffffff;
    opacity: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.mainmenu-area #primary-menu > ul > li > a:hover:before,
.mainmenu-area #primary-menu > ul > li.active > a:before {
    opacity: 1;
    top: 0;
} 

.mainmenu-area #primary-menu ul li.active a,
.mainmenu-area #primary-menu ul li a:hover {
    border-top: 3px solid #ffffff;
} 

.mainmenu-area.affix {
    background-color: #87cefa;
}
/* part 2*/

.banner-1 {
    height: 640px;
    background: url(../images/banner.jpg) 0% 0% / cover no-repeat;
    padding-left: 0px !important;
    padding-right: 0px !important;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-body {
    padding-top: 155px;
}

.carousel-h1 {
    color: white;
    font-size: 8em;
    text-align: center;
}

.carousel-h2 {
    color: white;
    font-size: 4em;
    text-align: center;
}

#carouselExampleControls {
    top: 25%;
}

.banner-container-row-home,
.banner-container-home {
    height: 100%;
}

.home-products {
    padding-top: 80px;
}

.home-products-h1 {
    font-size: 2em;
    padding-top: 50px;
    text-align: center;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

.home-products-border {
    background: none repeat scroll 0 0 #999999;
    display: block;
    height: 2px;
    margin: 0 auto;
    width: 100px;
    margin-bottom: 40px;
}


